.env
__pycache__/
lib/
.DS_Store
src/transit_reader/utils/token.json
src/transit_reader/utils/credentials.json
src/subjects
outputs/
astro_docs/
.venv/
archive/
tests/
crew_outputs/
src/transit_reader/subjects/
implementation_docs/
src/transit_reader/crews/crev-project.txt
CLAUDE.md
screenshots/
src/transit_reader/crev-project.txt